.cardsContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 27px 0;

    .card-row {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &:nth-child(2) {
            display: none;
        }
    }
}

@media (min-width: 1020px) {
    .cardsContainer {
        width: fit-content;
        height: auto;
        border-radius: 25px;
        background-color: #f6f6f6;
        margin-top: 43px;
        margin-bottom: 50px;
        padding: 50px;
        gap: 50px;

        .card-row {
            flex-direction: row;
            justify-content: space-between;
            gap: 50px;

            &:nth-child(2) {
                display: flex;
            }
        }
    }
}