@import '../../scss/variables.scss';

.stars-container {
    display: flex;
    align-items: baseline;
    margin: 24px 0;
    gap: 6px;

    .fa-star {
        font-size: 13px;
    }

    .colored-star {
        color: $main-color;
    }

    .no-color-star {
        color: #e3e3e3;
    }
}

@media (min-width: 1020px) {
    .stars-container {
        justify-content: flex-end;
        margin: 0;
        gap: 12px;
        order: 1;

        .fa-star {
            font-size: 24px;
        }
    }
}
