.collapsible-header {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6161;
  border-radius: 5px;
}
.collapsible-header .collapsible-label {
  color: white;
  font-size: 13px;
}
.collapsible-header .collapsible-arrow {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.turn-arrow {
  transform: rotate(-180deg);
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.collapsible-content p {
  padding: 10px;
  font-size: 13px;
  background-color: #f7f7f7;
  border-radius: 5px;
  color: #ff6161;
  margin: 0;
}

@media (min-width: 1020px) {
  .collapsible-header {
    padding: 10px 20px 10px 15px;
  }
  .collapsible-header .collapsible-label {
    font-size: 20px;
  }
  .collapsible-header .collapsible-arrow {
    width: 32px;
    height: 32px;
  }
  .collapsible-content p {
    padding: 10px 20px 10px 15px;
    font-weight: 300;
    font-size: 18px;
  }
}