.title-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0 10px 0;
  gap: 3px;
}
.title-container h2 {
  color: #ff6161;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.title-container p {
  margin: 2px 0 0 0;
  color: #ff6161;
  font-family: Montserrat;
  font-size: 14px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main-container .title-container {
  grid-column: 1/3;
  grid-row: 1;
}
.main-container .tag-container {
  grid-column: 1/3;
  grid-row: 2;
}
.main-container .host-container {
  grid-column: 2;
  grid-row: 1/3;
}
.main-container .rate-container {
  grid-column: 1;
  grid-row: 3;
}

@media (min-width: 1020px) {
  .title-container {
    margin: 30px 0 20px 0;
    gap: 5px;
  }
  .title-container h2 {
    font-size: 36px;
  }
  .title-container p {
    font-size: 18px;
  }
  .main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-container .title-container {
    grid-column: 1;
    grid-row: 1;
  }
  .main-container .tag-container {
    grid-column: 1;
    grid-row: 2;
  }
  .main-container .host-container {
    grid-column: 2;
    grid-row: 1;
  }
  .main-container .rate-container {
    grid-column: 2;
    grid-row: 2;
  }
}