body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header, main {
    margin: 0 20px;
}

@media (min-width: 1280px) {
    header, main {
        max-width: 1240px;
        margin: 0 auto;
    }
}